#cboxClose{
	background-image:url(../images/close_icon_mini.png);
}
.nav_button_inactive,.nav_button,.gradient_button,.progress_bg{
	border-radius:0px;
}
#splash_start{
	padding-left:0.75em;
	padding-right:0.25em;
}
.info_link a{
	margin-right:1em;
}
#nav{
 border-top:1px solid #999;
}
#shadow_bottom{
	visibility:hidden;

}
.nav_button{
	padding-top:0.2em;
	padding-bottom:0.2em;
	font-size:1em;
	padding-left:0.3em;
	padding-right:0.3em;
}
#modal_container{
	outline:1px solid #ccc;
}
