<div id="antbits-SA-assessment">
  <div id = "antbits-SA-bg_fill">
    <div id = "antbits-SA-inner_fill">
      <div id = "antbits-SA-container">
        <div class = "antbits-SA-page" id="antbits-SA-splash"><a href="javascript:;" class = "antbits-SA-std_btn" id = "antbits-SA-start_btn">Start</a></div>
        <div class = "antbits-SA-page" id="antbits-SA-results"></div>
        <div class = "antbits-SA-page" id="antbits-SA-links"></div>
      </div>
      <div class="antbits-SA-preloader"> <img src="images/preloader.gif" />
        <div>Preparing your results</div>
      </div>
      <div id = "antbits-SA-fade_left"><img src="images/fade_left.png" /></div>
      <div id = "antbits-SA-fade_right"><img src="images/fade_right.png" /></div>
      <div id = "antbits-SA-header">
        <div id = "antbits-SA-header_inner"></div>
      </div>
      <div id = "antbits-SA-nav">
        <div class = "antbits-SA-nav_row" id = "antbits-SA-nav_q"> <a class="antbits-SA-nav_button antbits-SA-nav_back" href="javascript:;">Back</a> <a class="antbits-SA-nav_button" id="antbits-SA-nav_next" href="javascript:;">Next</a> <a class="antbits-SA-nav_button" id="antbits-SA-nav_check" href="javascript:;">Check answer</a> </div>
        <div class = "antbits-SA-nav_row" id = "antbits-SA-nav_r"><a class="antbits-SA-nav_button antbits-SA-nav_back"  href="javascript:;">Back</a> <a class="antbits-SA-nav_button" id="antbits-SA-nav_links" href="javascript:;">Useful&nbsp;links</a> </div>
        <div class = "antbits-SA-nav_row" id = "antbits-SA-nav_l"><a class="antbits-SA-nav_button antbits-SA-nav_back"  href="javascript:;">Back</a> <a class="antbits-SA-nav_button" id="antbits-SA-nav_finish" href="javascript:;">Finish</a> </div>
        <div id="antbits-SA-progress" >
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
